.git
.gitignore
.github

.env
.env.*
!.env.example

vendor
node_modules
/public/build
/public/hot
/public/storage

storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar
storage/pail
bootstrap/cache/*.php

tests
phpunit.xml
.phpunit.result.cache
/.phpunit.cache
pint.json
phpstan.neon
.editorconfig
.styleci.yml

docker-compose.yml
docker-compose.prod.yml

/ssl
/FRONTEND
.idea
.vscode
.zed
.fleet
.nova
.codex
.cursor
.copilot
.DS_Store
Thumbs.db
*.md
!README.md
