# APP
APP_NAME="Pandy Post"
APP_ENV=local
APP_KEY=base64:31RIYAe+cp/R/WgeuOj2S2Hrt8bqtUSmf4HhjJwkdE4=
APP_DEBUG=true
APP_URL=http://localhost:9000
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR
APP_FAKER_LOCALE=pt_BR
APP_MAINTENANCE_DRIVER=file
FRONTEND_URL=http://localhost:5173
CONTAINER_NAME=pandypost-php

# AUTH
BCRYPT_ROUNDS=12
SANCTUM_STATEFUL_DOMAINS="localhost:5173,127.0.0.1:5173,localhost:9000,127.0.0.1:9000,localhost,127.0.0.1"
TOKEN_SANCTUM_EXPIRATION=480
AUTH_VERIFICATION_TIMEOUT=1440
AUTH_TOKEN_EXPIRATION_DAYS=30
INVITE_EXPIRATION_DAYS=3

# DATABASE
DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=pandypost
DB_USERNAME=pandypost
DB_PASSWORD=pandypost

# REDIS
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# CACHE / QUEUE / SESSION
CACHE_STORE=redis
CACHE_PREFIX=pandypost_cache_
QUEUE_CONNECTION=redis
BROADCAST_CONNECTION=reverb

# OCTANE
OCTANE_SERVER=swoole
OCTANE_HTTPS=false

# REVERB
REVERB_APP_ID=100000
REVERB_APP_KEY=pandypost-reverb-key
REVERB_APP_SECRET=pandypost-reverb-secret
REVERB_SERVER_HOST="reverb"
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

# HORIZON
HORIZON_NAME=PandyPost
HORIZON_PATH=horizon
HORIZON_DOMAIN=

# LOG
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug


# MAIL

# MAIL_MAILER=smtp

# MAIL_SCHEME=null

# MAIL_HOST=smtp.gmail.com

# MAIL_PORT=587

# MAIL_USERNAME=

# MAIL_PASSWORD=

# MAIL_ENCRYPTION=tls

# MAIL_FROM_ADDRESS=

# MAIL_FROM_NAME="${APP_NAME}"



# MAIL
MAIL_MAILER=resend
RESEND_API_KEY=your_resend_api_key_here
MAIL_FROM_ADDRESS=noreply@pandy.pro
MAIL_FROM_NAME="${APP_NAME}"

# SOCIAL (Instagram / Meta)
META_APP_ID=1679818486329340
META_APP_SECRET=your_meta_app_secret_here
META_REDIRECT_URI=https://unadduceable-lyric-nabobically.ngrok-free.dev/api/social-accounts/instagram/callback

# SOCIAL (Google)
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=https://unadduceable-lyric-nabobically.ngrok-free.dev/api/social-accounts/google/callback

# SOCIAL (TikTok)
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_REDIRECT_URI=

# CLOUDFLARE (SSL Origin Certificate)
CF_API_TOKEN=
CF_HOSTNAMES=pandy.pro,*.pandy.pro

# DEPLOY (GHCR)
IMAGE_PREFIX=ghcr.io/pandyia
IMAGE_TAG=latest

# FILESYSTEM & AWS S3 STORAGE (play.min.io - dev)
FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=Q3AM3UQ867SPQQA43P2F
AWS_SECRET_ACCESS_KEY=zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=pandypost-dev
AWS_ENDPOINT=https://play.min.io
AWS_URL=https://play.min.io/pandypost-dev
AWS_TEMPORARY_URL=https://play.min.io/pandypost-dev
AWS_USE_PATH_STYLE_ENDPOINT=true
S3_MAX_UPLOAD_SIZE=32212254720
S3_PRESIGNED_PUT_TTL=86400

